.landing-page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}




/* styles for Hero section */

.hero-next-gen {
  align-items: center;
  display: flex;
  gap: 43px;
  position: relative;
  padding: 40px 80px;
}

.hero-next-gen .hero-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 43px;
}

.hero-next-gen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/images/landing-page-hero-bg.svg'); /* Adjust the path to your image */
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

.hero-next-gen .content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 55%;
}

.hero-next-gen .heading {
  align-self: stretch;
  color: var(--black);
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  margin-top: -1px;
}

.hero-next-gen .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px;
}

.hero-next-gen .text {
  align-self: stretch;
  color: var(--black);
  font-family: "Lato-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
}

.hero-next-gen .frame {
  align-items: center;
  display: flex;
  width: 530px;
  gap: 30px;
}

.hero-next-gen .image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 0px 64px 0px 64px;
  overflow: hidden;
  height: 640px;
  width: 100%;
}

.hero-next-gen .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-next-gen .heading-and-image {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.hero-next-gen .large-screen {
  display: flex;
}

.hero-next-gen .small-screen {
  display: none;
}

.navigating-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 80px;
  gap: 30px;
  background-color: var(--basewhite);
  max-width: 2200px;
}

.navigating-success-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.navigating-success-header .heading {
  color: var(--black);
  font-family: "Montserrat-Regular", Helvetica;
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
}

.navigating-success-content.large-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.navigating-success-content.small-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
}

.feature-item {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.navigating-success .feature-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.navigating-success .feature-title, .feature-title-small {
  font-family: "Montserrat-Medium", Helvetica;
  font-size: 22px;
  line-height: 35px;
  font-weight: 500;
}

.heading-blue {
  color: var(--primary-colour);
}

.heading-orange {
   color: #fd7e14;
}

.heading-green {
  color: var(--secondary-colour);
}



.navigating-success .feature-description {
  color: var(--gray-600);
    font-family: Lato-Regular, Helvetica;
    font-size: 1.25rem;
    line-height: ;
    max-width: 600px;
    width: 100%;
}


.navigating-success .image {
  border-radius: 16px;
    display: flex;
    height: 600px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 40%;
}

.navigating-success .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigating-success .features-small {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  padding: 10px 0;
  align-items: center;
}

.navigating-success .feature-item-small {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

.navigating-success .feature-image {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}

.navigating-success .feature-image img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.navigating-success .feature-text-small {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}




@media (max-width: 780px) {
  .hero-next-gen {
    flex-direction: column;
    padding: 40px 80px;
    gap: 20px;
  }


  .hero-next-gen .hero-wrapper {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .hero-next-gen .heading-and-image {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

  .hero-next-gen .content {
    width: 100%;
    gap: 20px;
  }

  .hero-next-gen .heading.large-screen {
    display: none;
  }

  .hero-next-gen .heading.small-screen {
    display: flex;
    font-size: 32px;
  }

  .hero-next-gen .text {
    font-size: 16px;
    line-height: 30px;
  }

  .hero-next-gen .frame {
    width: 100%;
  }

  .hero-next-gen .image {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0px 33.9px 0px 33.9px;
  }

  .hero-next-gen .image img {
    width: 100%;
    height: auto;
  }


  .navigating-success {
    padding: 60px 40px;
  }

}


@media (max-width: 480px) {
  .hero-next-gen {
    padding: 40px 20px;
  }


  .hero-next-gen .image {
    width: 100%;
    height: auto; 
  }

  .hero-next-gen .image img {
    width: 100%;
    height: 339px;
    border-radius: 0px 33.9px 0px 33.9px;
}

  .hero-next-gen .content {
    gap: 10px;
  }

  .hero-next-gen .frame {
    width: 100%;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
  }

  .hero-next-gen .heading.small-screen {
    font-size: 32px;
  }

  .hero-next-gen .hero-next-gen .text-wrapper {
    font-size: 16px;
  }

  .hero-next-gen .text {
    font-size: 16px;
    line-height: 24px;
  }


  .navigating-success .feature-item-small {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  .navigating-success {
    padding: 60px 20px;
  }

  .navigating-success .feature-text-small {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
  }

  .navigating-success .feature-description-small {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5;
  }
  
  .navigating-success .feature-tittle-small {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px
  }
}





/* styles for our commitment section */

.our-commitment {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.our-commitment .frame {
  align-items: lef;
  background-color: #f0f7ff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  margin-left: -10px;
  margin-right: -10px;
  padding: 40px 80px;
  position: relative;
}

.our-commitment .text-wrapper {
  color: var(--black);
  font-family: "Montserrat-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.our-commitment .div {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 30px;
  position: relative;
}

.our-commitment .rectangle {
  height: auto;
  object-fit: cover;
  position: relative;
  border-radius: 13.31px;
  max-width: 40%;
}

.our-commitment .p {
  color: var(--black);
  font-family: "Lato-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
}



/* styles for explore events section */
.explore-events-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 80px;
    position: relative;
  }


.explore-events-section .frame {
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 46px;
    position: relative;
  }
  


.explore-events-section .heading-text-wrapper {
    color: var(--black);
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
  }
  
  @media (max-width: 768px) { 


    .our-commitment .div {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    .our-commitment .text-wrapper {
      align-self: stretch;
      color: var(--black);
      font-family: "Lato-SemiBold", Helvetica;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 45px;
      margin-top: -1px;
      position: relative;
    }

    .our-commitment .rectangle {
      height: auto;
      object-fit: cover;
      position: relative;
      max-width: 100%;
    }

    .our-commitment .p {
      align-self: stretch;
      color: var(--black);
      font-family: "Lato-Regular", Helvetica;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 32px;
      position: relative;
    }

    .explore-events-section .heading-text-wrapper {
        font-size: 28px;
      }
  }

  @media (max-width: 480px) {

    .our-commitment .frame {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px 20px;
      position: relative;
    }
    
    
    .our-commitment .p {
      align-self: stretch;
      color: var(--black);
      font-size: 14px;
      line-height: 28px;
    }
    .explore-events-section {
        gap: 30px;
        padding: 40px 20px;
      }
  }
