p, h1, h2, h3, h4, h5, h6, ul, li, ol {
  margin: 0;
}

@media (min-width: 700px) {
  p {
    line-height: 35px !important;
  }
  }

@media (max-width: 480px) {
p {
  line-height: 24px !important;
}
}


.nav-link {
  display: flex;
  text-decoration: none !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

@media (max-width: 480px) {
  .modal-content {
    border-radius: 8px;
    max-width: 100%;
    max-height: 95%;
    overflow-y: auto;
  }
  }

 


:root {
  --accent-colour: rgba(253, 126, 20, 1);
  --avatar-user-squareolivia-rhye-color-background: rgba(207, 203, 220, 1);
  --baseblack: rgba(0, 0, 0, 1);
  --basewhite: rgba(255, 255, 255, 1);
  --black: rgba(30, 30, 30, 1);
  --black-whitewhite: rgba(255, 255, 255, 1);
  --body-body-text-medium-font-family: "Lato", Helvetica;
  --body-body-text-medium-font-size: 16px;
  --body-body-text-medium-font-style: normal;
  --body-body-text-medium-font-weight: 500;
  --body-body-text-medium-letter-spacing: 0px;
  --body-body-text-medium-line-height: 24px;
  --brand-100: rgba(244, 235, 255, 1);
  --brand-200: rgba(233, 215, 254, 1);
  --brand-50: rgba(249, 245, 255, 1);
  --brand-600: rgba(127, 86, 217, 1);
  --brand-700: rgba(105, 65, 198, 1);
  --brand-800: rgba(83, 56, 158, 1);
  --gray-300: rgba(208, 213, 221, 1);
  --gray-400: rgba(152, 162, 179, 1);
  --gray-50: rgba(249, 250, 251, 1);
  --gray-600: rgba(71, 84, 103, 1);
  --gray-700: rgba(52, 64, 84, 1);
  --gray-800: rgba(24, 34, 48, 1);
  --gray-900: rgba(16, 24, 40, 1);
  --primary-colour: rgba(0, 123, 255, 1);
  --secondary-colour: rgba(40, 167, 69, 1);
  --shadows-shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --text-md-semibold-font-family: "Lato", Helvetica;
  --text-md-semibold-font-size: 16px;
  --text-md-semibold-font-style: normal;
  --text-md-semibold-font-weight: 400;
  --text-md-semibold-letter-spacing: 0px;
  --text-md-semibold-line-height: 24px;
  --text-sm-medium-font-family: "Lato", Helvetica;
  --text-sm-medium-font-size: 14px;
  --text-sm-medium-font-style: normal;
  --text-sm-medium-font-weight: 400;
  --text-sm-medium-letter-spacing: 0px;
  --text-sm-medium-line-height: 20px;
  --text-sm-regular-font-family: "Lato", Helvetica;
  --text-sm-regular-font-size: 14px;
  --text-sm-regular-font-style: normal;
  --text-sm-regular-font-weight: 400;
  --text-sm-regular-letter-spacing: 0px;
  --text-sm-regular-line-height: 20px;
  --text-sm-semibold-font-family: "Lato", Helvetica;
  --text-sm-semibold-font-size: 14px;
  --text-sm-semibold-font-style: normal;
  --text-sm-semibold-font-weight: 400;
  --text-sm-semibold-letter-spacing: 0px;
  --text-sm-semibold-line-height: 20px;
}

